@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body, p {
    margin: 0;
    font-family: Roboto;
}

body {
    padding-top: 65px;
}

h1 {
    margin-bottom: 5px;
}

p {
    padding: 10px;
    font-size: 30px;
    max-width: 500px;
}

.row {
    max-width: 31%;
    min-width: 31%;
    padding: 1%;
    display: -webkit-inline-box;
    min-height: 372px;
    vertical-align: bottom;
}

.page-content {
    max-width: 1000px;
}

.header {
    position: fixed !important;
    top: 0;
}

.loader {
    margin-top: 200px;
}

.searchfield {
    width: 66% !important;
}

.searchbutton {
    margin-left: 10px;
}
.card {
    min-height: 175px;
    width: 100%;
}

.cardimage {
    max-height: 140px;
}

.cardtitle span {
    overflow: hidden;
}

.carddescription {
    padding-bottom: 0;
    min-height: 49px;
    max-height: 65px;
    overflow: hidden;
}

.logoutbutton {
    float: right;
    margin: 5px !important;
}

.imageresponsive {
    width: 100%;
    max-width: 1005px;
}
@media only screen and (max-width: 500px) {
    /* For mobile phones: */
    .searchfield {
        width: 95% !important;
        margin: 5px !important;
        margin-top: 25px !important;
    }

    .searchbutton {
        width: 95%;
        margin: 5px;
        margin-top: 0;
    }

    .logoutbutton {
        width: 95%;
        margin: 5px;
        margin-top: 0;
    }
    .row {
        max-width: 95%;
        min-width: 95%;
        margin: 5px;
    }
    #firebaseui-auth-container {
        width: 76%;
    }
    p {
        max-width: 100%;
    }
}