@import url('https://fonts.googleapis.com/css?family=Roboto');

body, p {
    margin: 0;
    font-family: Roboto;
}

h1 {
    margin-bottom: 5px;
}

p {
    padding: 10px;
    font-size: 30px;
    max-width: 500px;
}

.row {
    max-width: 33%;
}
