@import url('https://fonts.googleapis.com/css?family=Roboto');

body, p {
    margin: 0;
    font-family: Roboto;
}

body {
    padding-top: 65px;
}

h1 {
    margin-bottom: 5px;
}

p {
    padding: 10px;
    font-size: 30px;
    max-width: 500px;
}

.row {
    max-width: 31%;
    min-width: 31%;
    padding: 1%;
    display: -webkit-inline-box;
    float: left;
}

.page-content {
    max-width: 1000px;
}

.header {
    position: fixed !important;
    top: 0;
}

.loader {
    margin-top: 200px;
}
.card {
    min-height: 175px;
    width: 100%;
}

.cardimage {
    max-height: 140px;
}

.cardtitle span {
    overflow: hidden;
}

.carddescription {
    padding-bottom: 0;
    min-height: 49px;
    max-height: 65px;
    overflow: hidden;
}